/* Contacts styles */

.contact-header{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.contact-header h1{
	font-size: 32px;
}

.contact-header p{
	color: #b5b6b7;
	font-size: 16px;
}

.contacts-alert{
	margin-top: 30px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 14px;
	color: #515151;
}

.contact-field-name-email input{
	width: 49%;
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	margin-top: 10px;
	border-radius: 0;
}

.contact-field-subject input{
	width: 100%;
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 0;
}

.contact-field-text textarea{
	width: 100%;
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 0;
}

.send-message{
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 0;
	border: 1px solid black;
	width: 150px;
	color: black;
}

.send-message:hover{
	background-color: black;
	color: white;
}

.contact-info-wrapper{
	margin-left: 100px;
	width: 100%;
}

.contact-info-wrapper h4{
	font-weight: bold;
	margin-bottom: 15px;
}

.address p, .contact-info p{
	font-size: 14px;
	color: #8c8c8c;
}

.social-networks a i{
	margin-right: 15px;
}

.social-networks a i:hover{
	color: blue;
}


/* Message list slyles */

.message-main-wrapper{
	height: 100vh;
}

.empty-messages{
	text-align: center;
	color: red;
	font-size: 40px;
	margin-top:100px;
	margin-bottom: 100px;
}

.messages-title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.messages-list-wrapper{
	margin-bottom: 50px;
}

.messages-list-wrapper a{
	text-decoration: none;
	color: #3d3d3d;
}

.messages-list-wrapper .single-message .row{
	padding-top: 10px;
	background-color: #f7f7f7;
	font-size: 12px;
}

.messages-list-wrapper .single-message:hover .row{
	background-color: #c4c4c4;
	color: #3d3d3d;
}

.message-main-wrapper #pages{
	text-align: right;
}



/* Message detail styles */

.message-detail-wrapper{
	height: 100vh;
}

.well{
	margin-top: 60px;
	margin-bottom: 60px;
}

.well .message-author{
	font-size: 30px;
}

.message-author strong{
	text-decoration: underline;
}

.well .message-send-date{
	font-size: 16px;
	color: #8e8e8e;
	text-align: right;
}

.message-cover .btn-danger{
	float: right;
}