/* Portfolio styles */

.portfolio-header{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.portfolio-header h1{
	font-size: 32px;
}

.portfolio-header p{
	color: #b5b6b7;
	font-size: 16px;
}

.portfolio-list-wrapper{
	margin-bottom: 50px;
}

.portfolio-list{
	padding-top: 15px;
	padding-bottom: 5px;
}

.portfolio-navigation{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.portfolio-navigation-button{
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	color: black;
	padding: 10px;
	font-size: 12px;
	margin-top: 5px;
	width: 110px;
}

.portfolio-navigation-button:hover{
	background-color: black;
	color: white;
}

#portfolio-button{
	color: black;
}

.btn-default.active{
	background: black;
	color: white;
}

.portfolio-list a p{
	text-align: center;
	position: relative;
}

.portfolio-list-description{
	margin-top: 3px;
	color: white;
}

.portfolio-list:hover{
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.portfolio-list-description p{
	margin-bottom: -1px;
}

.portfolio-list-description span{
	float: right;
	margin-top: 5px;
	font-weight: bold;
	font-size: 16px;
}

.portfolio-list-description span a{
	text-decoration: none;
	color: white;
}

.portfolio-list-description span a:hover{
	color: grey;
}


/* Portfolio detail styles */


.portfolio-detail-header{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.portfolio-detail-header h1{
	font-size: 32px;
	text-transform: uppercase;
}

.portfolio-detail-header p{
	color: #b5b6b7;
	font-size: 16px;
}

.portfolio-detail-wrapper{
	margin-top: 20px;
	margin-bottom: 70px;
	text-align: center;
}

.portfolio-detail-description{
	text-align: justify;
	padding-top: 10px;
	color: #666666;
}

.portfolio-detail-wrapper h5{
	float: left;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 20px;
}

.portfolio-detail-project-details{
	float: left;
	clear: both;
	text-align: left;
	color: #666666;
}

.portfolio-detail-project-details p{
	padding-top: 5px;
}

.portfolio-detail-project-details a{
	text-decoration: none;
	color: black;
}

.portfolio-contact-author{
	padding: 10px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 0;
	text-align: center;
	margin-bottom: 10px;
}

.portfolio-contact-author:hover{
	background-color: black;
	color: white;
}

.portfolio-detail-wrapper img{
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

/* Add new project to portfolio */

.portfolio-add-project{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.portfolio-add-project a{
	text-decoration: none;
	color: grey;
}

.portfolio-add-project a:hover{
	color: black;
}


.portfolio-add-project-title{
	text-align: center;
	padding-bottom: 20px;
}

.portfolio-add-fields{
	text-align: center;
}

.portfolio-add-fields input{
	width: 50%;
}

.portfolio-add-fields textarea{
	width: 50%;
}

.portfolio-add-fields select{
	width: 50%;
}

.add-project{
	margin-bottom: 30px;
	margin-top: 10px;
	width: 50%
}

/* Portfolio admin tools */

.portfolio-detail-admin-tools{
	text-align: right;
}