html{
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	background: #ffffff;
	height: 100%;
	display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Sidebar */

#sidebar-wrapper{
	z-index: 1;
	width: 50px;
	min-height: 100%;
	overflow-y: hidden;
	background: #372db4;
	position: absolute;
	padding-bottom: 50px;
}

.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-align: center;
}

.sidebar-nav li a{
	display: none;
	text-decoration: none;
	color: #b5b0f7;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.sidebar-nav li:first-child a{
	display: block;
	font-size: 25px;
	padding-top:15px;
	padding-bottom: 15px;
	color: #b5b0f7;
}

.sidebar-nav li:first-child:hover a{
	background: none;
	color: #b5b0f7;
}

.sidebar-nav li a:hover{
	background: #493fc8;
	color: #ffffff;
}

.sidebar-logos{
	margin-top: 20px;
	font-size: 20px;
}

.sidebar-items{
	margin-top: -15px;
}

/* Main content */

#page-content-wrapper{
	width: 100%;
	padding-left: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	min-height: 100%;
}

.content{
	height: 100%;
	flex-grow: 1;
}

/* Change the width of the sidebar to display it */

#wrapper.menuDisplayed #sidebar-wrapper{
	width: 120px;
}

#wrapper.menuDisplayed .sidebar-nav li a{
	display: block;
	border-bottom: 1px solid #493fc8;
}

/* Change left padding of the main content and footer to display sidebar */

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 120px;
}


/* footer */

.footer{
	margin-top: 20px;
	margin-bottom: 5px;
	color: #b5b6b7;
	text-align: center;	
}


/* Login Styles */

.login-title{
	
}
